{% extends "templates/shell.html" %}
{% block content %}
    <div class="white administration-title">
        <p>Expenses</p>
    </div>
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            {% if user.is_administrator or user.permissions_global_financials %}
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/administration/expenses"
                        class="entity-nav-selected">OFFICE</a>
                </li>
                <li class="entity-nav-pull-left-cell-selected push-down"><a
                        href="{{ request.application_url }}/administration/expenses/clients" class="entity-nav-selected">CLIENTS</a></li>
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/administration/expenses/global/{{ year }}">GLOBAL</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="maintable">
                <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>

                <form method="post" action="{{ request.application_url }}/administration/expenses/clients">
                    <table class="table expenses-table">
                        <thead>
                        <th>
                            Book Expenses for Clients
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="quarter-year-cell" colspan="2">
                                <strong>For Quarter Ending: </strong>
                                <select name="quarter_end_type">
                                    <option value="03/31">Q1</option>
                                    <option value="06/30">Q2</option>
                                    <option value="09/30">Q3</option>
                                    <option value="12/31">Q4</option>
                                </select>
                                <strong>Year: </strong>
                                <select name="quarter_end_year">
                                    <option value="{{ header.year|int }}"> {{ header.year|int}}</option>
                                    <option value="{{ header.year|int  - 1}}">{{ header.year|int  - 1}}</option>
                                    <option value="{{ header.year|int  + 1}}">{{ header.year|int  + 1}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bold">CLIENTS</td>
                        </tr>
                        {% for client in account.clients %}
                            <tr>
                                <td>{{ client.name|title }} ({% if user.currency %}
                                    {{ user.currency.name|upper }}{% else %}USD{% endif %}):
                                </td>
                                <td><input type="text" name="{{ client.id }}-expense" value=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input class="center-submit" type="submit">
                </form>
                <table class="table">
                    <thead>
                    <th colspan="2">Expenses By Clients ({% if user.currency %}{{ user.currency.name|upper }}{% else %}
                        USD{% endif %}): {{ expense_year }}
                    </th>
                    <th colspan="4" class="center">Q1 </th>
                    <th colspan="4" class="center">Q2 </th>
                    <th colspan="4" class="center">Q3 </th>
                    <th colspan="4" class="center">Q4 </th>
                    </thead>
                    <tbody>

                    {% for client in account.clients %}
                        <tr>
                            <td colspan="2">
                                <a href="{{ request.application_url }}/client/{{ client.id }}/financials/{{ year }}">{{ client.name|title }}</a>
                            </td>
                            <td colspan="4" class="align-right">{{ "{:,.0f}".format(all_client_expense_sga[loop.index0][0])}}</td>
                            <td colspan="4" class="align-right">{{ "{:,.0f}".format(all_client_expense_sga[loop.index0][1])}}</td>
                            <td colspan="4" class="align-right">{{ "{:,.0f}".format(all_client_expense_sga[loop.index0][2])}}</td>
                            <td colspan="4" class="align-right">{{ "{:,.0f}".format(all_client_expense_sga[loop.index0][3])}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
