{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Recognize Revenue</li>
        </ul>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/administration/revenue">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>For Quarter Ending (mm/dd/yyyy):</td>
                            <td><input type="text" name="quarter_end_date" value=""></td>
                        </tr>
                        <tr>
                            <td colspan="2">Projects:</td>
                        </tr>
                        {% for project in account.projects %}
                            <tr>
                                <td>{{ project.client.name|title }}: {{ project.name|title }} ({% if user.currency %}
                                    {{ user.currency.name|upper }}{% else %}USD{% endif %})
                                </td>
                                <td><input type="text" name="{{ project.id }}-revenue" value=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</html>