{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            {% if user.is_administrator or user.permissions_global_financials %}
                <li class="entity-nav-pull-left-cell-selected push-down"><a
                        href="{{ request.application_url }}/administration/expenses"
                        class="entity-nav-selected">OFFICE</a>
                </li>
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/administration/expenses/clients">CLIENTS</a></li>
            {% endif %}
            {% if user.is_administrator %}
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/administration/expenses/global/{{ year }}">GLOBAL</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/administration/expenses">
                    <table class="table">
                        <tbody>
                        <thead>
                        <th>Historical Expenses for Offices</th>
                        </thead>
                        <tr>
                            <td>For Quarter Ending</td>
                            <td colspan="2">
                                <select name="quarter_end_type">
                                    <option value="03/31">Q1</option>
                                    <option value="06/30">Q2</option>
                                    <option value="09/30">Q3</option>
                                    <option value="12/31">Q4</option>
                                </select>
                                Year(yyyy)<input type="text" name="quarter_end_year" value="">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">Offices:</td>
                        </tr>
                        {% for office in account.offices %}
                            <tr>
                                <td>{{ office.name|title }} ({% if user.currency %}
                                    {{ user.currency.name|upper }}{% else %}USD{% endif %}):
                                </td>
                                <td>Office SGA: <input type="text" name="{{ office.id }}-local" value=""></td>
                                <td>Allocated Global: <input type="text" name="{{ office.id }}-global" value=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</html>