{% extends "templates/shell.html" %}
{% block content %}
    <div class="white administration-title">
        <p>Expenses</p>
    </div>
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            {% if user.is_administrator or user.permissions_global_financials %}
                <li class="entity-nav-pull-left-cell-selected push-down"><a
                        href="{{ request.application_url }}/administration/expenses"
                        class="entity-nav-selected">OFFICE</a>
                </li>
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/administration/expenses/clients">CLIENTS</a></li>
            {% endif %}
            {% if user.is_administrator %}
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/administration/expenses/global/{{ year }}">GLOBAL</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="maintable">
                <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>
                <form method="post" action="{{ request.application_url }}/administration/expenses">
                    <table class="table expenses-table">
                        <tbody>
                        <thead>
                        <th colspan="3">Historical Expenses for Offices</th>
                        </thead>
                        <tr>
                            <td class="quarter-year-cell" colspan="3">
                                <strong>For Quarter Ending: </strong>
                                <select name="quarter_end_type">
                                    <option value="03/31">Q1</option>
                                    <option value="06/30">Q2</option>
                                    <option value="09/30">Q3</option>
                                    <option value="12/31">Q4</option>
                                </select>
                                <strong>Year: </strong>
                                <select name="quarter_end_year">
                                    <option value="{{ header.year|int }}"> {{ header.year|int}}</option>
                                    <option value="{{ header.year|int  - 1}}">{{ header.year|int  - 1}}</option>
                                    <option value="{{ header.year|int  + 1}}">{{ header.year|int  + 1}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">Offices:</td>
                        </tr>
                        {% for office in account.offices %}
                            <tr>
                                <td>{{ office.name|title }} ({% if user.currency %}
                                    {{ user.currency.name|upper }}{% else %}USD{% endif %}):
                                </td>
                                <td>
                                    <label for="{{ office.id }}-local">Office SGA: <input type="text" id="{{ office.id }}-local" name="{{ office.id }}-local" value=""></label>
                                </td>
                                <td><label for="{{ office.id }}-global">Allocated Global: <input type="text" id="{{ office.id }}-global" name="{{ office.id }}-global" value=""></label></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input class="center-submit" type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
