{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Change Password</li>
        </ul>
    </div>
    <div class="container">
        <div class="row-fluid">
            <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>
            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/administration/password">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>New Password:</td>
                            <td><input type="text" name="password" value=""></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
