{% extends "templates/shell.html" %}
{% block content %}
    <div class="white administration-title">
        <p>Company</p>
    </div>
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="entity-nav-pull-left-cell push-down"><a
                     href="{{ request.application_url }}/administration/employees"
                    >EMPLOYEE</a>
            </li>
            {% if user.is_administrator %}
                <li class="entity-nav-pull-left-cell-selected push-down"><a
                        class="entity-nav-selected" href="{{ request.application_url }}/administration/company"
                        >COMPANY</a>
                </li>
            {% endif %}
        </ul>
{#        <ul class="nav subnav_area">#}
{#            <li class="headline">Administration: Company</li>#}
{#        </ul>#}
    </div>
    <div class="container">
        <div class="row-fluid font-admin">
            <span class="admin_superheader">{{ account.name|title }}</span> <a
                href="{{ request.application_url }}/administration/company/edit">Edit</a><br/><br/>
            <span class="admin_header">Offices</span> <a href="{{ request.application_url }}/office/add">Add
            Office</a><br/>
            <table class="company-info">
            {% for office in account.offices %}
                {% if office.is_active %}
                        <tr>
                            <td>{{ office.name|title }}</td>
                            <td>
                                <a href="{{ request.application_url }}/office/{{ office.id }}/edit">Edit</a>
                    |           <a href="{{ request.application_url }}/office/{{ office.id }}/delete">Delete</a>
                            </td>
                        </tr>
                {% endif %}
            {% endfor %}
            </table>
            <br/><br/>
            <span class="admin_header">Currencies</span> <a href="{{ request.application_url }}/currency/add">Add
            Currency</a><br/>
            USD (default)<br/>
            <table class="company-info">
            {% for currency in account.currencys %}
                    <tr>
                        <td>{{ currency.name|upper }} ({{ '%0.2f'| format(currency.currency_to_usd|float)}} USD)</td>
                        <td><a href="{{ request.application_url }}/currency/{{ currency.id }}/edit">Edit</a> |
                <a href="{{ request.application_url }}/currency/{{ currency.id }}/delete">Delete</a></td>
                    </tr>
                
            {% endfor %}
            </table>
            <br/><br/>
            <span class="admin_header">Departments</span> <a href="{{ request.application_url }}/department/add">Add
            Department</a><br/>
            <table class="company-info">
            {% for department in account.departments %}
                {% if department.is_active %}
                    <tr>
                        <td>{{ department.name|title }}</td>
                        <td><a href="{{ request.application_url }}/department/{{ department.id }}/edit">Edit</a> |
                    <a href="{{ request.application_url }}/department/{{ department.id }}/delete">Delete</a></td>
                    </tr>
                    
                {% endif %}
            {% endfor %}
            </table>
            <br/><br/>
            <span class="admin_header">Roles</span> <a href="{{ request.application_url }}/role/add">Add Role</a><br/>
            <table class="company-info">
            {% for role in account.roles %}
                {% if role.is_active %}
                        <tr>
                            <td>{{ role.department.name|title }}: {{ role.name|title }} ({{ "{:,.0f}".format(role.salary_low)}}-
                    {{ "{:,.0f}".format(role.salary_high)}})</td>
                            <td><a href="{{ request.application_url }}/role/{{ role.id }}/edit">Edit</a> |
                    <a href="{{ request.application_url }}/role/{{ role.id }}/delete">Delete</a></td>
                        </tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
</html>