{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            {% if user.is_administrator or user.permissions_global_financials %}
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/administration/expenses"
                        >OFFICE</a>
                </li>
                <li class="entity-nav-pull-left-cell-selected push-down"><a
                        class="entity-nav-selected" href="{{ request.application_url }}/administration/expenses/clients">CLIENTS</a></li>
            {% endif %}
            {% if user.is_administrator %}
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/administration/expenses/global/{{ year }}">GLOBAL</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/administration/expenses/clients">
                    <table class="table expenses-table">
                        <thead>
                        <th>
                            Book Expenses for Clients
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="quarter-year-cell" colspan="2">
                                <strong>For Quarter Ending: </strong>
                                <select name="quarter_end_type">
                                    <option value="03/31">Q1</option>
                                    <option value="06/30">Q2</option>
                                    <option value="09/30">Q3</option>
                                    <option value="12/31">Q4</option>
                                </select>
                                <strong>Year: </strong>
                                <select name="quarter_end_year">
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Clients:</td>
                        </tr>
                        {% for client in account.clients %}
                            <tr>
                                <td>{{ client.name|title }} ({% if user.currency %}
                                    {{ user.currency.name|upper }}{% else %}USD{% endif %}):
                                </td>
                                <td><input type="text" name="{{ client.id }}-expense" value=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input class="center-submit" type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</html>