{% extends "templates/shell.html" %}
{% block content %}

    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            {% if access_financials %}
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/client/{{ client.id }}/financials/{{ year }}">FINANCIALS</a>
                </li>
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/client/{{ client.id }}/projects/{{ year }}">PROJECTS</a>
                </li>
            {% endif %}
            {% if access_utilization %}
                <li class="entity-nav-pull-left-cell push-down"><a
                        href="{{ request.application_url }}/client/{{ client.id }}/utilization/{{ year }}">UTILIZATION</a>
                </li>
            {% endif %}
            {% if access_pipeline %}
                <li class="entity-nav-pull-left-cell-selected push-down"><a
                        href="{{ request.application_url }}/client/{{ client.id }}/pipeline/{{ year }}"
                        class="entity-nav-selected">PIPELINE</a></li>
            {% endif %}
        </ul>
        <ul class="nav pull-right subnav_area">
            <li class="submenu-btn"><a class="submenu-btn-text" href='{{ request.application_url }}/ghost/project/add'>ADD
                OPPORTUNITY</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="maintable">
                <table class="table">
                    <thead>
                    <th>Opportunities for {{ client.name|title }} ({% if user.currency %}
                        {{ user.currency|upper }}{% else %}USD{% endif %}):
                        <div class="btn-group">
                            <a id="year_button" class="year-text dropdown-toggle" data-toggle="dropdown"
                               href="#">{{ year }} <span class="year-carot caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for y in account.years %}
                                    <li><a href="{{ request.application_url }}/client/{{ client.id }}/pipeline/{{ y }}"
                                           tabindex="-1">{{ y }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </th>
                    <th class="center">Q1</th>
                    <th class="center">Q2</th>
                    <th class="center">Q3</th>
                    <th class="center">Q4</th>
                    <th class="center">Total</th>
                    <th class="center">Likelihood</th>
                    <th class="center">Total Weighted</th>
                    </thead>
                    <tbody>
                    {% for ghost_project_revenue in financials.ghost_project_revenues %}
                        <tr>
                            <td>
                                <a href="{{ request.application_url }}/ghost/project/{{ ghost_project_revenue.ghost_project.id }}/edit">{{ ghost_project_revenue.ghost_project.name|title }}</a>
                                [<a href="{{ request.application_url }}/ghost/project/{{ ghost_project_revenue.ghost_project.id }}/delete">Delete</a>]
                            </td>
                            <td class="align-right">{{ "{:,.0f}".format(ghost_project_revenue.Q1)}}</td>
                            <td class="align-right">{{ "{:,.0f}".format(ghost_project_revenue.Q2)}}</td>
                            <td class="align-right">{{ "{:,.0f}".format(ghost_project_revenue.Q3)}}</td>
                            <td class="align-right">{{ "{:,.0f}".format(ghost_project_revenue.Q4)}}</td>
                            <td class="align-right">{{ "{:,.0f}".format(ghost_project_revenue.annual_revenue)}}</td>
                            <td class="align-right">{{ ghost_project_revenue.ghost_project.likelihood }}%</td>
                            <td class="align-right">
                                {{ "{:,.0f}".format(ghost_project_revenue.annual_revenue_weighted)}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
</html>