{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Update Projects for {{ client.name|title }} ({% if user.currency %}
                {{ user.currency.name|upper }}{% else %}USD{% endif %})
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row-fluid">
            <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>
            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/client/{{ client_id }}/projects/update">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td colspan="2">Projects:</td>
                        </tr>
                        {% for project in client.projects %}
                            <tr>
                                <td>{{ project.name|title }}:</td>
                                <td>Start date: <input class="datepicker" type="text" name="{{ project.id }}-start_date"></td>
                                <td>End date: <input class="datepicker" type="text" name="{{ project.id }}-end_date"></td>
                                <td><input type="text" name="{{ project.id }}-revenue"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</html>