{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Add Department</li>
        </ul>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/department/add">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" name="name" value=""></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit"> <input type="submit" name="add_another" value="Submit and Add Another">
            </div>
        </div>
    </div>

{% endblock %}
</html>