{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Assign Resource To Prospect</li>
        </ul>
    </div>
    <div class="container">
        <div class="row-fluid">
            <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>
            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/ghost/client/assign/resource">
                    <table class="table">
                        <tbody>
                        {% if users %}
                            <tr>
                                <td>Person:</td>
                                <td>
                                    <select name="user_id">
                                        <option value="">Select</option>
                                        {% for user in users %}
                                            {% if user.percent_billable > 0 %}
                                                <option value="{{ user.id }}">{{ user.name|title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endif %}
                        {% if ghost_clients %}
                            <tr>
                                <td>Prospect:</td>
                                <td>
                                    <select name="ghost_client_id">
                                        <option value="">Select</option>
                                        {% for ghost_client in ghost_clients %}
                                            <option value="{{ ghost_client.id }}">{{ ghost_client.name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Utilization (%):</td>
                            <td><input type="text" name="utilization" value="">%</td>
                        </tr>
                        <tr>
                            <td>Start Date:</td>
                            <td><input class="datepicker" type="text" name="start_date" value=""></td>
                        </tr>
                        <tr>
                            <td>End Date:</td>
                            <td><input class="datepicker" type="text" name="end_date" value=""></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit">
            </div>
        </div>
    </div>

{% endblock %}
</html>