{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Edit Opportunity</li>
        </ul>
    </div>
    <div class="container">
        <div class="row-fluid">
            <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>
            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/ghost/project/{{ ghost_project.id }}/edit">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" name="name" value="{{ ghost_project.name }}"></td>
                        </tr>
                        {% if clients %}
                            <tr>
                                <td>Client:</td>
                                <td>
                                    <select name="client_id">
                                        <option value="">Select</option>
                                        {% for client in clients %}
                                            <option value="{{ client.id }}"
                                                    {% if ghost_project.client and ghost_project.client.id == client.id %}selected{% endif %}>{{ client.name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endif %}
                        {% if ghost_clients %}
                            <tr>
                                <td>Or, Prospect:</td>
                                <td>
                                    <select name="ghost_client_id">
                                        <option value="">Select</option>
                                        {% for ghost_client in ghost_clients %}
                                            <option value="{{ ghost_client.id }}"
                                                    {% if ghost_project.ghost_client and ghost_project.ghost_client.id == ghost_client.id %}selected{% endif %}>{{ ghost_client.name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Project code:</td>
                            <td><input type="text" name="project_code" value="{{ ghost_project.code }}"></td>
                        </tr>
                        <tr>
                            <td>Revenue ({% if user.currency %}{{ user.currency|upper }}{% else %}USD{% endif %}):</td>
                            <td><input type="text" name="revenue" value="{{ ghost_project.revenue }}"></td>
                        </tr>
                        <tr>
                            <td>Likelihood (%):</td>
                            {#                            <td><input type="text" name="likelihood" value="">%</td>#}
                            <td>
                                <select name="likelihood">
                                    <option value="">Select</option>
                                    <option value="15" {% if ghost_project.likelihood == 15 %}selected{% endif %}>Identified Opportunity</option>
                                    <option value="25" {% if ghost_project.likelihood == 25 %}selected{% endif %}>Proposal Pending</option>
                                    <option value="50" {% if ghost_project.likelihood == 50 %}selected{% endif %}>SOW Pending</option>
                                    <option value="75" {% if ghost_project.likelihood == 75 %}selected{% endif %}>Verbally Approved</option>
                                    <option value="100" {% if ghost_project.likelihood == 100 %}selected{% endif %}>Won and Signed</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Start Date:</td>
                            <td><input class="datepicker" type="text" name="start_date"
                                       value="{{ ghost_project.start_date.strftime('%m/%d/%Y')}}"></td>
                        </tr>
                        <tr>
                            <td>End Date:</td>
                            <td><input class="datepicker" type="text" name="end_date"
                                       value="{{ ghost_project.end_date.strftime('%m/%d/%Y')}}"></td>
                        </tr>
                        <tr>
                            <td>Budget Allocations (%):</td>
                            <td>
                                <table class="budget-allocations">
                                    <tbody>
                                    {% for department in account.departments %}
                                        {% if department.is_active %}
                                            {%  for budget_allocation in ghost_project.budget_allocations %}
                                                {% if department.id == budget_allocation.department_id %}
                                                    <tr>
                                                        <td>{{ department.name|title }}:</td>
                                                        <td><input class="input-small" type="text" name="{{ department.id }}-allocation" value="{{ budget_allocation.percent_allocation }}">%</td>
                                                    </tr>
                                                {% endif %}
                                            {%  endfor %}

                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit">
            </div>
        </div>
    </div>

{% endblock %}
