{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="entity-nav-pull-left-cell push-down"><a
                    href="{{ request.application_url }}/ghost/client/{{ ghost_client.id }}/financials/{{ year }}">FINANCIALS</a>
            </li>
            <li class="entity-nav-pull-left-cell-selected push-down"><a
                    href="{{ request.application_url }}/ghost/client/{{ ghost_client.id }}/utilization/{{ year }}"
                    class="entity-nav-selected">UTILIZATION</a></li>
            <li class="entity-nav-pull-left-cell push-down"><a
                    href="{{ request.application_url }}/ghost/client/{{ ghost_client.id }}/pipeline/{{ year }}">PIPELINE</a>
            </li>
        </ul>
        <ul class="nav pull-right subnav_area">
            <li class="submenu-btn"><a class="submenu-btn-text"
                                       href='{{ request.application_url }}/ghost/client/assign/resource'>ASSIGN
                PERSON</a></li>
            <li class="submenu-btn"><a class="submenu-btn-text"
                                       href='{{ request.application_url }}/client/assign/ghost'>ASSIGN OPEN REQ</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="maintable">
                <table class="table">
                    <thead>
                    <th>{{ ghost_client.name|title }} ({% if ghost_client.is_tbg == True %}TBG{% else %}P{% endif %})
                        Utilization for:
                        <div class="btn-group">
                            <a id="year_button" class="year-text dropdown-toggle" data-toggle="dropdown"
                               href="#">{{ year }} <span class="year-carot caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for y in account.years %}
                                    <li>
                                        <a href="{{ request.application_url }}/ghost/client/{{ ghost_client.id }}/utilization/{{ y }}"
                                           tabindex="-1">{{ y }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </th>
                    <th class="center">Jan</th>
                    <th class="center">Feb</th>
                    <th class="center">Mar</th>
                    <th class="center">Apr</th>
                    <th class="center">May</th>
                    <th class="center">Jun</th>
                    <th class="center">Jul</th>
                    <th class="center">Aug</th>
                    <th class="center">Sep</th>
                    <th class="center">Oct</th>
                    <th class="center">Nov</th>
                    <th class="center">Dec</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="13">Fulltime Staff</td>
                    </tr>
                    {% for user_utilization in utilization.user_utilization %}
                        <tr>
                            <td>{{ user_utilization.role|title }}: <a
                                    href="{{ request.application_url }}/person/{{ user_utilization.id }}/assign/edit?source_type=ghost_client&source_id={{ ghost_client.id }}">{{ user_utilization.name|title }}</a>
                            </td>
                            {% for util in user_utilization.utilization %}
                                {% if util == 0 %}
                                    <td class="center">&nbsp;</td>
                                {% else %}
                                    <td class="center">{{ "{:,.0f}".format(util)}}%</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="13">Open Reqs</td>
                    </tr>
                    {% for ghost_utilization in utilization.ghost_utilization %}
                        <tr>
                            <td>
                                <a href="{{ request.application_url }}/ghost/user/{{ ghost_utilization.id }}/assign/edit">{{ ghost_utilization.role|title }}</a>
                            </td>
                            {% for util in ghost_utilization.utilization %}
                                {% if util == 0 %}
                                    <td class="center">&nbsp;</td>
                                {% else %}
                                    <td class="center">{{ "{:,.0f}".format(util)}}%</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
</html>