{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Resource Assignment for {{ ghost_user.role.name|title }}
                in {{ ghost_user.office.name|title }}</li>
        </ul>
    </div>
    <form method="post" action="{{ request.application_url }}/ghost/user/{{ ghost_user.id }}/assign/edit">
    <input type="hidden" name="source_type" value="{{ source_type }}">
    <input type="hidden" name="source_id" value="{{ source_id }}">
    <div class="container-fluid">
        <div class="row-fluid">
            <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>
            <div class="maintable">
                <table class="table">
                    <thead></thead>
                    <tbody>
                    {% for assignment in assignments %}
                        <tr>
                            {% if clients %}
                                <td>Client: <select class="input-small" name="{{ assignment.id }}-client_id">
                                    <option value="">Select</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}"
                                                {% if client.id == assignment.client_id %}selected{% endif %}>{{ client.name|title }}</option>
                                    {% endfor %}
                                </select>
                                </td>
                            {% else %}
                                <td> &nbsp;</td>
                            {% endif %}
                            {% if ghost_clients %}
                                <td>Or, Prospect: <select class="input-small"
                                                          name="{{ assignment.id }}-ghost_client_id">
                                    <option value="">Select</option>
                                    {% for ghost_client in ghost_clients %}
                                        <option value="{{ ghost_client.id }}"
                                                {% if ghost_client.id == assignment.ghost_client_id %}selected{% endif %}>{{ ghost_client.name|title }}</option>
                                    {% endfor %}
                                </select>
                                </td>
                            {% else %}
                                <td> &nbsp; </td>
                            {% endif %}
                            <td>Utilization (%): <input class="input-mini" type="text"
                                                        name="{{ assignment.id }}-utilization"
                                                        value="{{ assignment.utilization }}">%
                            </td>
                            <td>Start Date: <input class="input-small datepicker" type="text"
                                                                name="{{ assignment.id }}-start_date"
                                                                value="{{ assignment.start_date.strftime('%m/%d/%Y')}}">
                            </td>
                            <td>End Date: <input class="input-small datepicker" type="text"
                                                              name="{{ assignment.id }}-end_date"
                                                              value="{{ assignment.end_date.strftime('%m/%d/%Y')}}">
                            </td>
                            <td>
                                <a href="{{ request.application_url }}/ghost/user/{{ ghost_user.id }}/assign/{{ assignment.id }}/delete?source_type={{ source_type }}&source_id={{ source_id }}" onclick="confirmClick(event)">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6"><input type="submit"><br/><br/>
                            <a href="{{ request.application_url }}/ghost/user/{{ ghost_user.id }}/assign/add">Add
                                Assignment</a><br/>
                            {% if source_type == "office" %}
                                <a href="{{ request.application_url }}/office/{{ source_id }}/utilization/{{ year }}">Return
                                    to Utilization</a>
                            {% elif source_type == "client" %}
                                <a href="{{ request.application_url }}/client/{{ source_id }}/utilization/{{ year }}">Return
                                    to Utilization</a>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </form>

{% endblock %}
</html>