{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Add Opportunity</li>
        </ul>
    </div>
    <div class="container">
        <div class="row-fluid">
            <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>
            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/ghost/project/add">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" name="name" value=""></td>
                        </tr>
                        {% if clients %}
                            <tr>
                                <td>Client:</td>
                                <td>
                                    <select name="client_id">
                                        <option value="">Select</option>
                                        {% for client in clients %}
                                            <option value="{{ client.id }}">{{ client.name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endif %}
                        {% if ghost_clients %}
                            <tr>
                                <td>Or, Prospect:</td>
                                <td>
                                    <select name="ghost_client_id">
                                        <option value="">Select</option>
                                        {% for ghost_client in ghost_clients %}
                                            <option value="{{ ghost_client.id }}">{{ ghost_client.name|title }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Revenue ({% if user.currency %}{{ user.currency|upper }}{% else %}USD{% endif %}):</td>
                            <td><input type="text" name="revenue" value=""></td>
                        </tr>
                        <tr>
                            <td>Likelihood (%):</td>
                            <td><input type="text" name="likelihood" value="">%</td>
                        </tr>
                        <tr>
                            <td>Start Date:</td>
                            <td><input class="datepicker" type="text" name="start_date" value=""></td>
                        </tr>
                        <tr>
                            <td>End Date:</td>
                            <td><input class="datepicker" type="text" name="end_date" value=""></td>
                        </tr>
                        <tr>
                            <td>Budget Allocations (%):</td>
                            <td>
                                <table class="budget-allocations">
                                    <tbody>
                                        {% for department in account.departments %}
                                            {% if department.is_active %}
                                                <tr>
                                                    <td>{{ department.name|title }}:</td>
                                                    <td><input type="text" name="{{ department.id }}-allocation" value="">%</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit"> <input type="submit" name="add_another" value="Submit and Add Another">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
</html>