{% extends "templates/shell.html" %}
{% block content %}
<div class="navbar subnav white">
	<ul class="nav subnav_area">
		<li class="entity-nav-pull-left-cell-selected push-down"><a href="{{request.application_url}}/ghost/client/{{ghost_client.id}}/financials/{{year}}" class="entity-nav-selected">FINANCIALS</a></li>
		<li class="entity-nav-pull-left-cell push-down"><a href="{{request.application_url}}/ghost/client/{{ghost_client.id}}/utilization/{{year}}">UTILIZATION</a></li>
		<li class="entity-nav-pull-left-cell push-down"><a href="{{request.application_url}}/ghost/client/{{ghost_client.id}}/pipeline/{{year}}">PIPELINE</a></li>
	</ul>
	<ul class="nav pull-right subnav_area">
		<li class="submenu-btn"><a class="submenu-btn-text" href='{{request.application_url}}/ghost/client/{{ghost_client.id}}/delete'>DELETE PROSPECT</a></li>
		<li class="submenu-btn"><a class="submenu-btn-text" href='{{request.application_url}}/ghost/client/{{ghost_client.id}}/edit'>EDIT PROSPECT</a></li>
	</ul>
</div>
<div class="container-fluid"><div class="row-fluid"><div class="maintable">
<table class="table">
<thead>
	<th>
		{{ghost_client.name|title}} Financials ({% if user.currency %}{{user.currency|upper}}{% else %}USD{% endif %} - {% if ghost_client.is_tbg == True %}TBG{% else %}P{% endif %}):
			<div class="btn-group">
				<a id="year_button" class="year-text dropdown-toggle" data-toggle="dropdown" href="#">{{year}} <span class="year-carot caret"></span></a>
				<ul class="dropdown-menu">
					{% for y in account.years %}
					<li><a href="{{request.application_url}}/ghost/client/{{ghost_client.id}}/financials/{{y}}" tabindex="-1">{{y}}</li>
					{% endfor %}
				</ul>
			</div>
	</th>
	<th class="center">Q1</th>
	<th class="center">Q2</th>
	<th class="center">Q3</th>
	<th class="center">Q4</th>
	<th class="center">Annual</th>
</thead>
<tbody>
<tr>
	<td>Revenue</td>
	<td colspan="5"></td>
</tr>
<tr>
	<td>Total</td>
	<td class="align-right">{{"{:,.0f}".format(financials.revenue[0])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.revenue[1])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.revenue[2])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.revenue[3])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.revenue[4])}}</td>
</tr>
<tr>
	<td>Expenses</td>
	<td colspan="5"></td>
</tr>
<tr>
	<td>Salaries</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_salary[0])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_salary[1])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_salary[2])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_salary[3])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_salary[4])}}</td>
</tr><tr>
	<td>Open Reqs</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_ghost[0])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_ghost[1])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_ghost[2])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_ghost[3])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_ghost[4])}}</td>
</tr><tr>
	<td>Overhead</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_overhead[0])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_overhead[1])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_overhead[2])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_overhead[3])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_overhead[4])}}</td>
</tr><tr>
	<td>Total</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_total[0])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_total[1])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_total[2])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_total[3])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.expense_total[4])}}</td>
</tr>
<tr><td colspan="6"> &nbsp;</td></tr>
<tr>
	<td>Profit</td>
	<td class="align-right">{{"{:,.0f}".format(financials.profit[0])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.profit[1])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.profit[2])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.profit[3])}}</td>
	<td class="align-right">{{"{:,.0f}".format(financials.profit[4])}}</td>
</tr><tr>
	<td>Margin</td>
	<td class="align-right">{{"{:,.0f}".format(financials.margin[0])}}%</td>
	<td class="align-right">{{"{:,.0f}".format(financials.margin[1])}}%</td>
	<td class="align-right">{{"{:,.0f}".format(financials.margin[2])}}%</td>
	<td class="align-right">{{"{:,.0f}".format(financials.margin[3])}}%</td>
	<td class="align-right">{{"{:,.0f}".format(financials.margin[4])}}%</td>
</tr>	
</tbody>
</table>
</div></div></div>

{% endblock %}
</html>