{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Edit Project</li>
        </ul>
    </div>
    <div class="container">
        <div class="row-fluid">
            <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>

            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/project/{{ project.id }}/edit">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" name="name" value="{{ project.name }}"></td>
                        </tr>
                        <tr>
                            <td>Client:</td>
                            <td>
                                <select name="client_id">
                                    <option value="">Select</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}"
                                                {% if project.client.id == client.id %}selected{% endif %}>{{ client.name|title }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Project code:</td>
                            <td><input type="text" name="project_code" value="{{ project.code }}"></td>
                        </tr>
                        <tr>
                            <td>Revenue ({% if user.currency %}{{ user.currency|upper }}{% else %}USD{% endif %}):</td>
                            <td><input type="text" name="revenue" value="{% if user.currency %}{{ project.revenue * user.currency.usd_to_currency }}{% else %}{{ project.revenue }}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>Start Date:</td>
                            <td><input class="datepicker" type="text" name="start_date"
                                       value="{{ project.start_date.strftime('%m/%d/%Y')}}"></td>
                        </tr>
                        <tr>
                            <td>End Date:</td>
                            <td><input class="datepicker" type="text" name="end_date" value="{{ project.end_date.strftime('%m/%d/%Y')}}">
                            </td>
                        </tr>
                        <tr>
                            <td>Budget Allocations (%):</td>
                            <td>
                                <table class="budget-allocations">
                                    <tbody>
{#                                    {% for department in account.departments %}#}
{#                                        {% if department.is_active %}#}
{#                                            {%  for budget_allocation in project.budget_allocations %}#}
{#                                                {% if department.id == budget_allocation.department_id %}#}
{#                                                    <tr>#}
{#                                                        <td>{{ department.name|title }}:</td>#}
{#                                                        <td><input class="input-small" type="text" name="{{ department.id }}-allocation" value="{{ budget_allocation.percent_allocation }}">%</td>#}
{#                                                    </tr>#}
{#                                                {% endif %}#}
{#                                            {%  endfor %}#}
{##}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}

                                    {%  for budget_allocation in budgetAllocations %}
                                                <td>{{ budget_allocation.department.name|title }}:</td>
                                                <td><input class="input-small" type="text" name="{{ budget_allocation.department_id }}-allocation" value="{{ budget_allocation.percent_allocation }}">%</td>
                                            </tr>
                                    {%  endfor %}

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
