{% extends "templates/shell.html" %}
{% block content %}
    <div class="navbar subnav white">
        <ul class="nav subnav_area">
            <li class="headline">Add Role</li>
        </ul>
    </div>
    <div class="container">
        <div class="row-fluid">
            <p><a href="javascript:;" onclick="history.go(-1);">Go back</a></p>

            <div class="maintable">
                <form method="post" action="{{ request.application_url }}/role/{{ role.id }}/edit">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" name="name" value="{{ role.name|title }}"></td>
                        </tr>
                        <tr>
                            <td>Department:</td>
                            <td>
                                <select name="department_id">
                                    <option value="">Select</option>
                                    {% for department in departments %}
                                        {% if department.is_active %}
                                            <option value="{{ department.id }}"
                                                    {% if department.id==role.department_id %}selected{% endif %}>{{ department.name|title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Salary (Low -
                                {% if user.currency %}{{ user.currency.name|upper }}{% else %}USD{% endif %}):
                            </td>
                            <td><input type="text" name="salary_low" value="{{ role.salary_low }}"></td>
                        </tr>
                        <tr>
                            <td>Salary (High -
                                {% if user.currency %}{{ user.currency.name|upper }}{% else %}USD{% endif %}):
                            </td>
                            <td><input type="text" name="salary_high" value="{{ role.salary_high }}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit">
            </div>
        </div>
    </div>

{% endblock %}
